@page "/todo"
@using BlazorApp

<h3>To do:(@todos.Count(todo => !todo.IsDone))</h3>

<ul>
    @foreach (var todo in todos)
    {
        
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            <input @bind="todo.Title" />
        </li>
    
    }
</ul>

<input placeholder="Something to do" @bind="_newTodo" />
<button @onclick="AddTodo">Add item</button>

@code {
    private List<ToDoItem> todos = new();
    private string? _newTodo;

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(_newTodo))
        {
            todos.Add(new ToDoItem { Title = _newTodo });
            _newTodo = string.Empty;
        }
    }
}